.recommended-friends {
  padding: 25px 0px;
  border-top: var(--main-border);
  border-bottom: var(--main-border);
}

.recommended-friends__title {
  font-size: 14px;
  color: var(--color-gray);
}

.recommended-friends span {
  margin: 100px 0px;
  font-size: 18px;
  display: block;
  text-align: center;
  color: var(--color-gray);
}

.open-chat {
  padding-top: 25px;
}

.open-chat__header {
  display: flex;
  justify-content: space-between;
  margin-bottom: 25px;
  color: var(--color-gray);
}

.open-chat__header span {
  opacity: 0.4;
}

.open-post {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.open-post__title {
  font-weight: 600;
  margin-bottom: 10px;
}

.open-post__hashtags {
  text-transform: uppercase;
  opacity: 0.7;
}

.open-post__members {
  margin-top: 10px;
  display: flex;
  align-items: center;
}

.open-post__members img {
  width: 20px;
  height: 20px;
  border-radius: 50%;
  margin-right: 5px;
}

.open-post__member-count {
  opacity: 0.6;
  font-size: 14px;
}

.open-post__members .divider {
  width: 2px;
  height: 15px;
  margin: 0px 5px;
  background-color: var(--color-gray);
  opacity: 0.5;
}
.open-post__member-status {
  color: #ffbae4;
}

.open-post__photo {
  position: relative;
}

.open-post__photo img {
  width: 110px;
  height: 110px;
  border-radius: 10px;
}

.open-post__heart-count {
  background-color: rgba(0, 0, 0, 0.5);
  color: white;
  padding: 5px 10px;
  border-radius: 20px;
  display: flex;
  align-items: center;
  position: absolute;
  right: 8px;
  bottom: 8px;
  font-size: 14px;
}

.open-post__heart-count span {
  margin-left: 3px;
}
