.more-screen .icon-row {
  margin-top: 30px;
}

.more-screen .icon-row .icon-row__icon {
  /* margin-bottom: 30px; */
}

.more-suggestions {
  margin-top: 50px;
  padding-top: 30px;
  border-top: var(--main-border);
}

.more-suggestions__title {
  margin-bottom: 30px;
}

.more-suggestions__icons {
  display: flex;
}

.more-suggestions__icon {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-right: 25px;
}

.more-suggestions__icon-image {
  width: 60px;
  height: 60px;
  background-color: var(--yellow);
  border-radius: 10px;
  margin-bottom: 10px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.more-suggestions__icon-image i {
  font-size: 32px;
  color: white;
}

.more-suggestions__icon-text {
  opacity: 0.8;
}
